@keyframes scaleUp {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
.findPassword {
  height: 100vh;
  background: linear-gradient(135deg, #ffffff 0%, #eef6ff48 100%);
  background-image: url('../../assets/images/register/u1.jpg');
  background-repeat: no-repeat;
  background-size: 180% 100%;
  /* 设置宽度为容器的120% */
  background-position: -40rem, 0;
  overflow: hidden;
}
.findPassword .nav {
  margin: 0 5%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.findPassword .findPassword-form-box {
  position: relative;
  border-radius: 1rem;
  margin: 0 auto;
  min-width: 400px;
  height: 500px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 40%;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.05);
  margin-bottom: 2.2rem;
  margin-top: 10vh;
  animation: scaleUp 0.5s ease-in-out both;
  /* 缩放动画 */
}
.findPassword .findPassword-form-box .findPassword-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
}
.findPassword .findPassword-form-box .findPassword-form .title {
  font-size: 18px;
  border-left: 3px solid #2b8dfd;
  padding-left: 10px;
  margin-bottom: 30px;
}
.findPassword .findPassword-form-box .findPassword-form .ant-form-item-row {
  width: 150%;
  min-width: 300px;
  margin-bottom: 40px;
}
.findPassword .findPassword-form-box .findPassword-form .ant-col {
  margin-left: 0;
}
.findPassword .findPassword-form-box .findPassword-form .btn-box {
  display: flex;
  justify-content: space-between;
}
